body {
  color: black;
  background-color: white;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 9rem;
  padding: 1rem;
}


h3 {
  display:block;
  background-color: grey;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size:1.2rem;
  color: white;
  overflow: auto;
}

.align-left {
  float: left;
}
.align-right {
  float: right;
}

hr {
  height: 0.2rem;
  border-radius: 1rem;
  background: black;
  border: none;
}

ul {
  display: block;
  list-style-type: disc;
}

p {
  padding: 0.5rem;
}

img.icon {
  width: 7rem;
  margin: 1rem;
  border-radius: 1rem;
}

.round-corner {
  border-radius: 0.5rem;
}

.navbar {
  width: 9rem;
  height: 100vh;
  position: fixed;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar name {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.navbar tabs {
  width: 8rem;
  margin-left: 1rem;
  font-weight: bold;
}

.navbar a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  color: gray;
  background-color: rgba(255,0,0,0);
  transition: 0.2s;
}

.navbar a_selected {
  cursor: default;
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.navbar a_container {
  display: block;
  background-color: white;
}

.navbar a_buffer {
  display: block;
  min-height: 1rem;
}

.navbar a_top {
  display: block;
  background-color: black;
  border-bottom-right-radius: 0.5rem;
  min-height: 1rem;
}

.navbar a_bottom {
  display: block;
  background-color: black;
  border-top-right-radius: 0.5rem;
  min-height: 1rem;
}

.navbar a:hover {
  padding-left: 1rem;
  color: white;
}

.gallery-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: 180px;
  grid-auto-flow: dense;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.5) 0rem 0.2rem 0.5rem;
  object-fit: cover;
}

.card:hover {
}

.card-holder {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.card-noshadow {
  display: flex;
  flex-direction: column;
  justify-content: end;
  
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
  overflow: hidden;
  object-fit: cover;
}

@media screen and (min-width: 750px) {
  .card-large {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }

  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.btn {
  background-color: black; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  padding: 0.6rem 0.8rem; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 0.5rem;
}







