.main {
  margin-left: 140px;
  padding: 10px;
  padding-left: 20px;
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  <!-- padding: 20px; -->
  padding-top: 15px;
}

.sidebar t {
  cursor: default;
  padding: 5px 5px 5px 15px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
}

.sidebar a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 20px;
  color: gray;
  transition: 0.2s;
}

.sidebar a:hover {
  padding-left: 15px;
  color: white;
}

.sidebar a_selected {
  cursor: default;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: gray;
  transition: 0.2s;
}

ul {
  display: block;
  list-style-type: square;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 30px;
}

hr {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.divider{
  width:5px;
  height:5px;
}

.border{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-width:  100px;
  box-shadow: 2px 2px 4px 2px #999;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
